@*
@using EmptyMVCShop01.Models
@model IEnumerable<Pie>
*@

@*
@using EmptyMVCShop01.ViewModels
این یکی رو بردیم توی ویو ایمپورتس نوشتیم پس لازم نیست که دیگه اینجا نوشته باشیمش
گرچه که بهش نیاز داریم هنوز
ولی دو خط بالایی رو لازم نداشتیم و هنوز نگهشون داشتم تا در واقع گذر تعغیرات کد رو مشهاده کنیم 
قبل از اینکه دیتا ها رو بریزیم توی ویو مدل فقط از یک مدل استفاده میکردیم پس پوشه مدلز رو یوزینگ کردیم
*@

@model PieListViewModel

@*
این ای اینامریبل پای از کجا فهمیدیم؟ خب ما یه دیتایی رو در کنترلر و در متد اکشن پای لیست پاس دادیم به
ویو ، موقع صدا زدن ویو. حالا اون از چه جنسی بود؟ و چی بود ؟ اوکی؟ اون جنس و نوع رو اینجا مادل میکنیم
*@


<h1>@Model.CurrentCategory</h1>
<br />

@*
        @foreach (var pie in Model)
        در اینجا در این حلقه مادل خطا میده . میگه که این دیگه ای اینامریبل نیست و خصوصیاتش رو نداره تا بشه که از حلقه فورایچ که
        میاد ای اینامریت میکنه ای اینامریبل های مختلف را استفاده کرد
        اما در واقع قسمتی از این مدل ای اینامریبل هست کدوم قسمتش؟
        پایین رو نگاه کنیم
        مادل که خب یک پای لیست ویو مدل هستش
        دات پایز میشه ای اینامریبلش
        بریم در پای لیست ویو مدل نگاه کنیم. پایز یک ویو مدل هست
        در کانستراکتورش یک ای اینامریبل پای میگیره و اون رو برابر مقدار پراپرتی پایز که در اینجا حلقه روش حرکت میکنه قرار میده
        در کنترلر میایم با ای اینامریبل پای ریپوزیتوری دات ال پایز کانستراکتور رو پر میکنیم
        و بعد پراپرتی پایز که برای پای لیست ویو مدل هست مقدار میگیره و بعد ما ابجکتی که از
        پای لیست ویو مدل ساختیم رو پاس میدیم به ویو و با مادل دات پایز از اون پراپرتی استفاده میکنیم
*@

@*
    @foreach (var pie in Model.Pies)
    {
        <ul>
            <li>@pie.Name</li>
            <li>@pie.Price</li>
            <li>@pie.Category.CategoryName</li>
            <li><img src="@pie.ImageThumbnailUrl" alt="PiePicture" /></li>
        </ul>
    }

    این خیلی هم درست بود ولی زیر هم نشون میداد پس ما اومدیم و با اچ تی ام الی که اماده بود فور ایچ رو شکل دادیم بهش
    کد پایین رو منظورمه که جایگزین این فور ایچ ساده شد
*@


<section class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var pie in Model.Pies)
    {
@*        <section class="col">
            <figure class="card pie-card">
                <img src="@pie.ImageThumbnailUrl" class="card-img-top" alt="@pie.Name" title="@pie.Category.CategoryName">
                <figcaption class="card-body pie-button">
                    <h4 class="d-grid">
                    </h4>

                    <section class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="pie-link" asp-controller="Pie" asp-action="PieDetail" asp-route-id="@pie.PieId">@pie.Name</a>

                                تگ هلپر ای اس پی کنترلر که کنترلر رو مشخص میکنه
                                تگ هلپر ای اس پی اکشن هم که متدی که اکشن و ویو رو مشخص میکنه رو مشخص میکنه
                                تگ هلپر روت هم پارامتری که باید برگرده رو مشخص میکنه اینجا اون پارامتر ای دی بود پس قسمت سوم میشه
                                اسم هرچی که ما به عنوان پارامتر نام گذاری کردیم
                                و بعد مساوی با مقدارش

                        </h2>
                        <h5 class="text-nowrap">
                            @pie.Price.ToString("#,0.00 $")
                        </h5>
                    </section>
                </figcaption>
            </figure>
        </section>*@
        <partial name="_PieCard" model="@pie" />
    }

</section>
